@{
    ViewData["Title"] = "Famazon";
    ViewData["Dash"] = "-";
    ViewData["SubTitle"] = "Home";
    ViewData["Assignment"] = "Assignment_8_Joisah_Sarles";
}
@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <h6>The Best Fake Amazon</h6>
    <div>
        <br />
        <h3>Current Book List</h3>
        <br />
        <img src="~/books.jpg" style="width: 300px; display: block; margin-left: auto; margin-right: auto;" />
    </div>
    <br />
    <br />
</div>
<div class="text-center">
    <div>
        @* Loop that outputs the partial view with the book inforamtion*@
        @foreach (var x in Model.Books)
        {
            <partial name="BookInfo" model="x"/>
            <br/>
        }
    </div>
    @*The css for the pagination highlight is in the site.css
        I also added an if statement to the PageListTageHelper that highlights the current page*@
        <div page-model="@Model.PagingInfo" page-action="Index" page-url-category="@Model.CurrentCategory" class="paginationhighlight">

        </div>
</div>
